*.so
*.so.*
*.o
*.swp
*.lo
*.la
ltmain.sh
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
missing
stamp-h1
src/gisi/.deps
src/gisi/.dirstamp
src/isi-enum-types.h
data/libisi.pc
html/
test/network
test/authenticate
test/isi
*Makefile
*Makefile.in
config.h
*/.libs
*/.deps
autom4te.cache
